/* Homepage Styling */

.jumbotron {
    background-image: url("../media/img/bg-intro-2.png");
    background-color: #17234E;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 500px;
    border-radius: 0;
    text-align: center;
}

.jumbotron p {
    color: white;
    font-weight: bold;
}

.jumbotron img {
    height: 100px;
}

.jumbotron h1 {
    color: white;
}

.centerme {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#featureArticle img {
    height: 200px;
    width: auto;
    margin-top: 10px;
    border-radius: 8px;
    border-color: black;

}

#featureArticle {
    width: 100%;
}

#featureArticle p {
    margin-bottom: 20px;
}

#featureArticle h2 {
    margin-left: 15px;
    color: black;
}

#featureArticle h4 {
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

#featureArticle p {
    color: black;
}

.blogpos {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.blogpos h2 {
    color: black;
}

.blogposts img {
    float: left;
    margin-right: 10px;
}

#bloggingPost a {
    color: #009687;
}

#bloggingPost img {
    width: 100%;
}

/* Footer styling */

#footerStyle {
    background-color: #78C2AD;
}

.fa-facebook {
    color: black;
}

.fa-twitter {
    color: black;
}

.fa-instagram {
    color: black;
}

#footerStyle h6 {
    color: black;
}

.navbar-brand {
    color: black !important;
}

/* Services Page */

.pricesBox {
    flex-wrap: nowrap;
}

.card-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.card-header {
    background-color: #283D3B;
    color: #E5E5E5;
    text-align: center;
}

.card-body {
    text-align: center;
}

.blogposMobile {
    display: none;
}

/* Blog Post */

.articleHeader {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.articleHeader h1 {
    color: black;
    text-decoration: underline;
}

.articleBody img {
    height: 250px;
    width: auto;
    margin-right: 10px;
}

.articleBody p {
    color: black;
}

#blogline {
    border-color: black;
}

/* Contact Us */

.testingborder {
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border-color: #78C2AD;
    border-width: thin;
    background-color: #BCE0D6;
}

#contactform button {
    background-color: #C2788C;
    border-color: #C2788C;
}

#contactform label {
    color: black;
}

/* About Us Section */

.aboutSection h1 {
    text-align: center;
}

.aboutSection p {
    text-align: center;
}

.aboutTeam h1 {
    text-align: center;
}

.size {
    height: 200px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.aboutTeam h2 {
    color: black;
}

.card {
    border-color: #C2788C !Important;
}

.aboutHeader {
    margin-top: 10px;
}

.aboutBrand h1 {
    text-align: center;
}

.aboutBrand h3 {
    text-align: center;
}

.aboutBrand {
    margin-bottom: 20px;
}

.aboutBrand h2 {
    text-align: center;
    color: #ff3232;
}

#borderSetup {
    border-style: solid;
    border-top: 5px;
    border-bottom: 5px;
}

input.invalid,
textarea.invalid {
    border: 2px solid red;
}

input.valid,
textarea.valid {
    border: 2px solid green;
}

.error_show {
    color: red;
    margin-left: 10px;
}

.error {
    display: none;
    margin-left: 10px;
}

@media (max-width: 767px) {
    #borderSetup {
        border-style: solid;
        border-right: 5px;
        border-left: 5px;
        margin-right: 25px;
        margin-left: 25px;
        border-width: thin;
    }
    .blogposMobile {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
        display: block;
    }

    .blogposMobile h2 {
        color: black;
    }

    .blogpos {
        display: none;
    }

    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        background-color: #283D3B;
        color: #E5E5E5;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        display: block;
    }
    
    .panelShow {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    .accordion:after {
        content: '\02795';
        /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #E5E5E5;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796";
        /* Unicode character for "minus" sign (-) */
    }


}
