<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <title>Listables Entertainment</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Listables</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../templates/services.html">Services <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3 centerme">Services</h1>
        <p class="lead centerme">Looking for someone to curate content or reach millions of millenials? We can help!</p>
        <hr class="my-4">
    </div>
    <div class="container blogpos">
        <h2>Services and Prices</h2>
        <div class="row pricesBox">
            <div class="card border-primary mb-3 card-margin">
                <div class="card-header">Content Curation</div>
                <div class="card-body">
                    <h4 class="card-title">Starting from $9.99 p/m</h4>
                    <p class="card-text">No matter what the niche is, Listables has the perfect content for you. We have an experienced team that can find the most engaging and viral-worthy content for any business.</p>
                    <p class="card-text">We've covered niches from Animals to horror content. There is no type of content we can't find.</p>
                    <p class="card-text">Unsure about if we're worth your money? We'll gladly provide a free sample, to ensure that we meet your quality standards.</p>
                    <button type="button" class="btn btn-warning">Click for a quote!</button>
                </div>
            </div>
            <div class="card border-primary mb-3 card-margin">
                <div class="card-header">Content Promotion</div>
                <div class="card-body">
                    <h4 class="card-title">Starting from $19.99 p/m</h4>
                    <p class="card-text">Do you own a business that is looking for affordable advertising? Then Listables is perfect for you. We have a huge female millenial audience that's a perfect fit for most brands!</p>
                    <p class="card-text">Our team will sit down with you and completely help you design the best campaign for your brand. We'll ensure that your brand gets the best exposure we can provide.</p>
                    <p class="card-text">Working with a tight budget? We promise we'll make it work!</p>
                    <button type="button" class="btn btn-warning">Click for a quote!</button>
                </div>
            </div>
            <div class="card border-primary mb-3 card-margin">
                <div class="card-header">Community Management</div>
                <div class="card-body">
                    <h4 class="card-title">Starting from $29.99 p/m</h4>
                    <p class="card-text">Building a community isn't always difficult. Some businesses easily grow a community.</p>
                    <p class="card-text">Spending the time managing that community isn't always the easiest thing. Listables can provide a cost effective and personal community management team. Team.</p>
                    <p class="card-text">Working with a tight budget? We promise we'll make it work!</p>
                    <button type="button" class="btn btn-warning">Click for a quote!</button>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer font-small blue-grey lighten-5 pt-0" id="footerStyle">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text text-center text-md-left"><strong>Get connected with us on social media!</strong></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-12 col-md-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="fb-ic ml-0"><i class="fa fa-facebook white-text mr-lg-4"> </i></a>
                    <!--Twitter-->
                    <a class="tw-ic"><i class="fa fa-twitter white-text mr-lg-4"> </i></a>
                    <!--Instagram-->
                    <a class="ins-ic"><i class="fa fa-instagram white-text mr-lg-4"> </i></a>
                </div>
                <!--Grid column-->

                <!--Grid row-->
            </div>
        </div>

    </footer>
    <!--/.Footer-->

</body>

</html>
